
body {
    justify-content: center;
    background-image: url("../img/wall2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#cuerpo {


}